@media (min-width: 320px) {
  .carousel {
    position: relative;
    margin-bottom: rem(130.5);
  }

  .corousel__title-box > .title-box--title {
    margin-bottom: rem(29);
    order: 1;
  }

  .title-box--link {
    text-align: center;
    order: 3;
    position: absolute;
    bottom: rem(-36.5);
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
  }

  .carousel__slider {
    max-width: 100%;
    margin: auto;
    margin-bottom: rem(36.5);
  }

  .prev,
  .next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 1;

    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      color: transparent;

      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }

    &.slick-disabled:before {
      opacity: $slick-opacity-not-active;
    }

    &:before {
      font-family: $slick-font-family;
      font-size: 20px;
      line-height: 1;
      color: $slick-arrow-color;
      opacity: $slick-opacity-default;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .prev {
    left: 35px;

    [dir="rtl"] & {
      left: auto;
      right: -25px;
    }
  }

  .next {
    right: 35px;

    [dir="rtl"] & {
      left: -25px;
      right: auto;
    }
  }

  .slider--item {
    position: relative;
    width: rem(225);
    margin-right: rem(24);
    margin: auto;
    padding: 0 rem(15);
  }

  .slider--hover-box {
    position: absolute;
    background: #f6f6f6;
    left: 50%;
    bottom: 0;
    min-width: 88%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
  }

  .slider--item:hover > .slider--hover-box {
    display: flex;
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .hover-link {
    line-height: rem(36);
  }
}

@media (min-width: 480px) {
  .prev {
    left: 115px;

    [dir="rtl"] & {
      left: auto;
      right: -25px;
    }
  }

  .next {
    right: 118px;

    [dir="rtl"] & {
      left: -25px;
      right: auto;
    }
  }
}

@media (min-width: 768px) {
  .prev {
    left: 35px;

    [dir="rtl"] & {
      left: auto;
      right: -25px;
    }
  }

  .next {
    right: 35px;

    [dir="rtl"] & {
      left: -25px;
      right: auto;
    }
  }
}
